.b{
    background-color: #E76F51;
    border-radius: 5px;
    list-style-type: none;
}
header{
    background: #264653;
}
nav ul li a{
    color: white;
}



@media screen and (max-width: 668px) {
    .banner , .asked{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer{
    flex-direction:  column-reverse;

    }
    .footer img{
        width: 100px;
        
    }
}